.page-container {
  padding-top: 108px;
}
.image-container {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
}
h2 {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Распределяет элементы на одинаковом расстоянии друг от друга */
  border-radius: 6px;
  margin-bottom: 15px;

  button {
    flex: 1; /* Даем всем кнопкам одинаковую ширину */
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
  }

  button span {
    flex: 1; /* Даем всем элементам внутри кнопки одинаковую ширину */
    padding: 5px;
    box-sizing: border-box;
    line-height: 1.2;
    color: #555;
    margin-left: -1px;
    white-space: nowrap; /* Запрещаем перенос текста */

    &::before {
      content: "";
      padding-right: 5px;
    }

    &::after {
      content: "";
    }

    &:nth-child(4n+1) strong {
      font-weight: bold;
    }
  }

  .secondary-button {
    flex: none;
    width: 120px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-block {
  width: calc(40% - 5px);
  margin-bottom: 10px;
}

.amounts-block {
  width: calc(40% - 5px);
  margin-bottom: 10px;
}


