<div class="page-container">

    <div class="page-header">
        <h1 class="page-header-title">История донатов:  {{ email }}</h1>
        <div class="header-buttons">
            <div class="button" (click)="goToDonators()">
                <div class="row">
                    <div class="col-auto pe-0">
                        <img src="assets/images/previous-button-icon.svg" alt="">
                    </div>
                    <div class="col-auto my-auto ps-0">
                        НАЗАД
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-navbar">

        <div class="navbar-total-row">
            <h1>Количество донатов: {{ transactions.length }}</h1>
            <h1>Общая сумма донатов: {{ totalDonations }}</h1>
        </div>

        <div class="form-select-group">
            <select class="form-select" aria-label="Сорт" [(ngModel)]="sortState"
                    (change)="applyFilterSort()">
                <option selected disabled hidden>СОРТИРОВКА</option>
                <option value="dateCreated,asc">ПО ДАТЕ ОТ СТАРЫХ К НОВЫМ</option>
                <option value="dateCreated,desc">ПО ДАТЕ ОТ НОВЫХ К СТАРЫМ</option>
            </select>
            <select class="form-select" aria-label="Сервер" [(ngModel)]="selectedServerName"
                    (change)="applyFilterSort()">
                <option value="">ВСЕ СЕРВЕРА</option>
                <option selected disabled hidden>Оберіть сервер</option>
                <option *ngFor="let server of servers"
                        [value]="server.serverName">{{ server.serverName }}</option>
            </select>
        </div>
    </div>

    <div class="main-content">
        <div ngbAccordion *ngFor="let transaction of transactions" #accordion="ngbAccordion">
            <div class="item" ngbAccordionItem="{{transaction.id}}">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                    <span *ngIf="transaction.dateCreated">
                        Дата создания: <strong>{{transaction.dateCreated | date: 'dd MMMM yyyy'}}</strong>
                    </span>
                        <span *ngIf="transaction.dateCreated">
                        Дата подтверждения: <strong>{{transaction.dateApproved | date: 'dd MMMM yyyy'}}</strong>
                    </span>
                        <span *ngIf="transaction.serverName">
                        Сервер: <strong>{{ transaction.serverName}}</strong>
                    </span>
                        <span *ngIf="transaction.donatorEmail">
                        Почта: <strong>{{transaction.donatorEmail}}</strong>
                    </span>
                        <span *ngIf="transaction.paymentMethod">
                        Способ оплаты: <strong>{{transaction.paymentMethod}}</strong>
                    </span>
                        <span *ngIf="transaction.totalAmount">
                        Общая сумма Доната: <strong>{{transaction.totalAmount | currency: 'USD'}}</strong>
                    </span>

                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <div class="container">
                            <div class="image-container">
                                <img [src]="transaction.imagePreview ? transaction.imagePreview : NO_IMG_PATH"
                                     alt="img"
                                     width="100%" style="cursor:pointer"
                                     (click)="transaction.imagePreview ? openImageDialog(transaction.id) : {}"/>
                            </div>

                            <div class="info-block">
                                <div>
                                    Кто создал: <strong>{{transaction.createdBy}}</strong> (Дата создания
                                    <strong>{{transaction.dateCreated | date: 'dd MMMM yyyy, HH:mm'}})</strong>
                                </div>
                                <div>
                                    Кто подтвердил: <strong>{{transaction.approvedBy}}</strong> (Дата подтверждения
                                    <strong>{{transaction.dateApproved | date: 'dd MMMM yyyy, HH:mm'}})</strong>
                                </div>
                                <div>
                                    Комментарий: <strong>{{transaction.comment}}</strong>
                                </div>
                                <div>
                                    Состояние заявки: <strong>{{transaction.state}}</strong>
                                </div>
                            </div>

                            <div class="amounts-block">
                                <div>
                                    Бонус сервера: <strong>{{transaction.serverBonusPercentage}}%</strong>
                                </div>
                                <div>
                                    Персональный бонус: <strong>{{transaction.personalBonusPercentage}}%</strong>
                                </div>
                                <div>
                                    Бонысы Админа: <strong>{{transaction.adminBonus | number: '1.2-2'}}</strong>
                                </div>
                                <div>
                                    Сумма доната: <strong>{{transaction.contributionAmount | number: '1.2-2'}}</strong>
                                </div>
                                <div>
                                    Сумма к зачислению: <strong>{{transaction.totalAmount | number: '1.2-2'}}</strong>
                                </div>
                                <div>
                                    Способ оплаты: <strong>{{transaction.paymentMethod}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paginator-container">
        <mat-paginator [length]="totalElements"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [showFirstLastButtons]="true"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>
