<button *ngIf="!authService.isGuest() && authService.isLoggedIn()" mat-icon-button class="menu-button" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
</button>
<mat-sidenav-container style="overflow: unset">
    <mat-sidenav #snav mode="side" disableClose opened="{{!authService.isGuest() && authService.isLoggedIn()}}" class="menu-sidebar">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content style="overflow: unset">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

