.main-content {
  min-height: calc(100vh - 112px);
}

.servers {
  margin-left: 16px;
  margin-right: 16px;
  & .server {
    margin-top: 40px;
    & .checkbox {
      width: 24px;
      height: 24px;
      accent-color: #3F51B5
    }
    .checkbox {
      display: block;
    }
    & .title {
      font-size: 20px;
      font-weight: 500;
    }
    & .name-server {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 16px
    }
    & .box-server {
      background: #ffffff;
      border-radius: 4px;
      padding: 16px
    }
    & .server-buttons {
      display: flex;
      margin-top: 25px;
      & .button {
        color: #0B202D;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        margin-right: 25px;
        display: block;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.disabled {
  opacity: 0.5; /* Змінює прозорість відключених елементів */
  pointer-events: none; /* Вимикає події для відключених елементів */
  cursor: not-allowed; /* Змінює вигляд курсора для відключених елементів */
}


