<div class="page-container">
    <div class="page-header">
        <h1 class="page-header-title">Сервера</h1>
        <div class="header-buttons">
            <div class="button" id="remove_server" [ngClass]="{ 'disabled': isButtonDisabled } "
                 (click)="removeServer(selectedServerId)">
                <div class="row">
                    <div class="col-auto pe-0">
                        <img src="assets/images/trash.svg" alt="">
                    </div>
                    <div class="col-auto my-auto ps-0">
                        УДАЛИТЬ
                    </div>
                </div>
            </div>
            <div class="button" id="settings_server" [ngClass]="{ 'disabled': isButtonDisabled }"
                 (click)="openUpdateServerDialog(selectedServerId)">
                <div class="row">
                    <div class="col-auto pe-0">
                        <img src="assets/images/settings.svg" alt="">
                    </div>
                    <div class="col-auto my-auto ps-0">
                        НАСТРОИТЬ
                    </div>
                </div>
            </div>
            <div class="button" id="add_server" (click)="openAddServerDialog()">
                <div class="row">
                    <div class="col-auto pe-0">
                        <img src="assets/images/add.svg" alt="">
                    </div>
                    <div class="col-auto my-auto ps-0">
                        ДОБАВИТЬ
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
            <div class="servers row">
                <ng-container *ngFor="let server of servers">
                    <div class="server col-lg-6 col-xxl-4" (click)="handleServerClick(server.id)">
                        <div class="row">
                            <div class="col-auto">
                                <input type="radio" class="checkbox" name="server" [value]="server.id"
                                       (change)="handleRadioChange(server.id)" [checked]="server.id === selectedServerId">
                            </div>
                            <div class="col">
                                <div class="box-server">
                                    <div class="title">
                                        {{ server.serverName }}
                                    </div>
                                    <div class="server-buttons">
                                        <button mat-flat-button (click)="goToDonatorBonusOnServer(server.id)">
                                            БОНУСЫ ИГРОКОВ
                                        </button>
                                        <button mat-flat-button (click)="openServerBonusDialog(server.id)">
                                            БОНУСЫ СЕРВЕРА
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
    </div>

    <div class="paginator-container">
        <mat-paginator
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageSizeOptions]="[6, 9, 18, 100]"
                [showFirstLastButtons]="true"
                (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>
