<div class="logo">
    <img src="assets/images/logo.png" alt="Logo" class="img-responsive">
</div>
<div class="sidebar-content">
    <mat-button-toggle-group appearance="legacy" vertical="true">
        <mat-button-toggle *ngFor="let item of menuItems | keyvalue" routerLink="/{{item.key}}">
            {{ item.value.toUpperCase()}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div class="logout-button" (click)="logout()">
    <div class="row">
        <div class="col-auto pe-0">
            <img src="assets/images/logout-button.svg" alt="">
        </div>
        <div class="col-auto my-auto ps-0">
            Выйти
        </div>
    </div>
</div>