.menu-sidebar{
  width:200px;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.14), 0 0 14px rgba(0, 0, 0, 0.12);
  background: #9CACBB;
  overflow-y:auto
}

.menu-sidebar .logo{
  height:56px;
  padding:0 35px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.14), 0 0 14px rgba(0, 0, 0, 0.12);
  background: #9CACBB;
  position:relative;
  z-index:3
}

.menu-sidebar .navbar-list .navbar-sub-list{
  display:none;
  padding-left:0px
}

.menu-sidebar .navbar-list .navbar-sub-list li a{
  padding:11.5px 0
}

.menu-sidebar-content{
  position:relative;
  height:-webkit-calc(100vh - 75px);
  height:-moz-calc(100vh - 75px);
  height:calc(100vh - 75px)
}

.navbar-sidebar .navbar-list li a{
  display:block;
  color:#555;
  font-size:16px;
  padding:5px 0
}

.navbar-sidebar .navbar-list li a i{
  margin-right:19px
}

.navbar-sidebar .navbar-list li a:hover{
  color:#0da8e4
}

.mat-button-toggle{
  background-color: #9cacbc;
  color: black;
  padding: 12px;
  width: 200px;
}

.mat-button-toggle:hover {
  background-color: rgba(65, 85, 100, 0.4);
  color: black;
}

.mat-button-toggle-checked {
  background-color: #415564;
  font-weight: 500;
  color: #9cacbc;
}

.logout-button {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 60px;
  color: #C5CCD3;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #344451;
  color: #C5CCD3;
}


