.logo {
  height: 56px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.14), 0 0 14px rgba(0, 0, 0, 0.12);
  background: #9CACBB;
  position: relative;
  z-index: 4;

  .img-responsive {
    width: auto;
    height: 100%;
  }
}


.mat-button-toggle {
  --mat-legacy-button-toggle-height: 60px;
  background-color: #9cacbc;
  color: black;
  width: 200px;
}

.mat-button-toggle:hover {
  background-color: rgba(65, 85, 100, 0.4);
  color: black;
}

.mat-button-toggle-checked {
  background-color: #415564;
  font-weight: 500;
  color: #9cacbc;
}

.logout-button {
  width: fit-content;
  min-width: fit-content;
  border-radius: 4px;
  background-color: #9cacbaff;
  color: #425565;
  border: 1px solid #415564;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  letter-spacing: 1.25px;
  position: fixed;
  bottom: 20px;
  left: 36px;

  & img {
    margin-right: 12px;
  }

  &:hover {
    background-color: #41556466;
    color: #C5CCD3;
  }
}