<!--<section class="example-section" [formGroup]="toppings">-->
<!--    <h4>Select your toppings:</h4>-->
<!--    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>-->
<!--    <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>-->
<!--    <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>-->
<!--</section>-->

<!--<section class="example-section" [formGroup]="toppings">-->
<!--    <h4>You chose:</h4>-->
<!--    {{toppings.value | json}}-->
<!--</section>-->
<div>
    <h1>Донаты</h1>
    <div class="search">
        <div class="row">
            <div class="col">
                <input type="text" name="search" class="search-input" placeholder="Почта донатора" matInput
                       [(ngModel)]="donatorsMail">
            </div>
            <div class="col-auto">
                <input type="button" class="search-button" value="ПОИСК" (click)="applyFilterSortSearch()">

            </div>
        </div>
        <div>
            <div class="d-flex">
                <!--            <button class="button" (click)="applyFilterSortSearch()">ИСПОЛЬЗОВАТЬ СОРТИРОВКУ</button>-->
                <select class="form-select me-2" aria-label="Сорт" [(ngModel)]="sortState"
                        (change)="applyFilterSortSearch()">
                    <option selected disabled hidden>СОРТИРОВКА</option>
                    <option value="dateCreated,asc">ПО ДАТЕ ОТ СТАРЫХ К НОВЫМ</option>
                    <option value="dateCreated,desc">ПО ДАТЕ ОТ НОВЫХ К СТАРЫМ</option>
                </select>

                <!--            <button class="button" (click)="applyFilterSortSearch()">ИСПОЛЬЗОВАТЬ ФИЛЬТР</button>-->
                <select class="form-select me-2" aria-label="Фильтр" [(ngModel)]="stateFilter"
                        (change)="applyFilterSortSearch()">
                    <option selected disabled hidden>фИЛЬТР</option>
                    <option value="">ВСЕ ЗАЯВКИ</option>
                    <option value="IN_PROGRESS">ЗАЯВКИ ОЖИДАЮТ ПОДТВЕРЖДЕНИЯ</option>
                    <option value="COMPLETED">ЗАЯВКИ ПОДТВЕРЖДЕНЫ</option>
                    <option value="CANCELLED">ЗАЯВКИ ОТМЕНЕНЫ</option>
                </select>

                <select class="form-select me-2" aria-label="Сервер" [(ngModel)]="selectedServer"
                        (change)="applyFilterSortSearch()">
                    <option value="">СЕРВЕРА</option>
                    <option selected disabled hidden>Оберіть сервер</option>
                    <option *ngFor="let server of servers" [value]="server.serverName">{{ server.serverName }}</option>
                </select>

                <button class="custom-button" (click)="openCreateTransactionDialog()">СОЗДАТЬ ЗАЯВКУ</button>

            </div>
        </div>
    </div>
</div>
<div class="transactions-list">
    <div ngbAccordion *ngFor="let transaction of transactions" #accordion="ngbAccordion">
        <div class="item" ngbAccordionItem="{{transaction.id}}">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    [ Дата создания {{transaction.dateCreated | date: 'dd MMMM yyyy'}}]
                    [ Дата подтверждения {{transaction.dateApproved | date: 'dd MMMM yyyy'}}]
                    [ Имя сервера {{ transaction.serverName}}]
                    [ Почта донатора {{transaction.donatorEmail}}]
                    [ Общая сумма Доната {{transaction.totalAmount | currency: 'USD'}}]
                </button>
            </h2>
            <button class="btn btn-outline-primary ms-2" *ngIf="transaction.state === 'IN_PROGRESS'"
                    (click)="openCreateTransactionDialog()">ИЗМЕНИТЬ
            </button>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        [Кто создал {{transaction.createdBy}}]
                        [Кто подтвердил {{transaction.approvedBy}}]
                        [Картинка {{transaction.imageUrl}}]
                        [бонусы Сервера {{transaction.serverBonusPercentage}}%]
                        [Бонысы Донатора {{transaction.personalBonusPercentage}}%]
                        [Бонысы Админа {{transaction.adminBonus}}]
                        [сумма зачисления  {{transaction.contributionAmount}}]
                        [Общая сумма доната  {{transaction.totalAmount}}]
                        [Состояние заявки {{transaction.state}}]
                        [Комментарий {{transaction.comment}}]
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <mat-paginator [length]="totalElements"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [showFirstLastButtons]="true"
                   (page)="onPageChange($event)">
    </mat-paginator>
</div>

