
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Задайте колір фону за потреби */
  z-index: 1000; /* Щоб хедер був поверх інших елементів */
  padding: 10px; /* Задайте відступи за потреби */
}

.transactions-list {
  margin-top: 80px; /* Задайте відступ від верхнього краю, щоб контент не був прихованим під хедером */
  /* Додайте інші стилі за потреби */
}
