<h1>Заявки</h1>
<div>
  <div class="d-flex">
    <select class="form-select me-2" aria-label="Сорт" [(ngModel)]="sortState"
            (change)="sort()">
      <option selected disabled hidden>СОРТИРОВКА</option>
      <option value="dateCreated,asc">Сортировка по дате от старых к новым</option>
      <option value="dateCreated,desc">Сортировка по дате от новых к старым</option>
    </select>
  </div>
</div>
<div ngbAccordion *ngFor="let transaction of transactions" #accordion="ngbAccordion">
  <div class="item" ngbAccordionItem="{{transaction.id}}">

    <h2 ngbAccordionHeader [ngStyle]="{'background-color': transaction.color}">
      <button ngbAccordionButton>
        <span *ngIf="transaction.dateCreated">
          Дата создания: <strong>{{transaction.dateCreated | date: 'dd MMMM yyyy'}}</strong>
        </span>
        <span *ngIf="transaction.serverName">
          Имя сервера: <strong>{{ transaction.serverName}}</strong>
        </span>
        <span *ngIf="transaction.donatorEmail">
          Почта донатора: <strong>{{transaction.donatorEmail}}</strong>
        </span>
        <span *ngIf="transaction.totalAmount">
          Общая сумма Доната: <strong>{{transaction.totalAmount | currency: 'USD'}}</strong>
        </span>
      </button>
    </h2>
    <button class="btn primary-button ms-2" (click)="confirmTransaction(transaction, TransactionState.COMPLETED)">Подтвердить</button>

    <button class="btn secondary-button ms-2" (click)="confirmTransaction(transaction, TransactionState.CANCELLED)">Отменить</button>

    <form class="example-form">
      <ngx-colors
              colorsAnimation="popup"
              [hideTextInput]="hideTextInput"
              [hideColorPicker]="hideColorPicker"
              [palette]="colors"
              ngx-colors-trigger
              style="display: inline-block; margin:5px;"
              [formControl]="colorFormControl"
              (close)="updateTransactionColor($event, transaction)"
      >
      </ngx-colors>

    </form>


    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="container">
          <div class="image-container">
            <img #image [src]="transaction.image" alt="img"
                 onerror="this.src='s../../assets/images/no-image.jpg'"
                 width="100%" style="cursor:pointer"
                 (click)="openImageDialog(image.src)"/>
          </div>
          <div class="info-block">
            <div>
              Кто создал: <strong>{{transaction.createdBy}}</strong> (Дата создания <strong>{{transaction.dateCreated | date: 'dd MMMM yyyy'}})</strong>
            </div>
            <div>
              Комментарий: <strong>{{transaction.comment}}</strong>
            </div>
            <div >
              <mat-form-field>
                <mat-label>Бонус от Админа</mat-label>
                <input matInput [(ngModel)]="transaction.adminBonus" [disabled]="transaction.state === TransactionState.CANCELLED">
              </mat-form-field>
            </div>
          </div>
          <div class="amounts-block">
            <div>
              Бонус сервера: <strong>{{transaction.serverBonusPercentage}}%</strong>
            </div>
            <div>
              Персональный бонус: <strong>{{transaction.personalBonusPercentage}}%</strong>
            </div>
            <div>
              Сумма доната: <strong>{{transaction.contributionAmount}}</strong>
            </div>
            <div>
              Сумма к зачислению: <strong>{{transaction.totalAmount}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)">
</mat-paginator>
