.item {
  margin-top: 8px;

}

.primary-button {
  background-color: #425565;
  color: #C5CCD3;
  border: 1px solid #425565;
}

.primary-button:hover {
  background-color: #344451;
  color: #C5CCD3;
}

.secondary-button {
  background-color: transparent;
  color: #425565;
  border: 1px solid #425565;
}

.secondary-button:hover {
  background-color: #425565;
  color: #C5CCD3;
}
.d-flex {
  top: 10px;
  right: 10px;
  padding: 10px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  width: 300px;
  max-width: calc(100% - 340px); /* Максимальна ширина віджета сортування + відступ */
}
.image-container {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
}


