:host {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

mat-form-field {
  margin-bottom: 8px;
}

mat-dialog-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: rgba(183, 190, 198, 0.35);
}

.button:hover {
  background-color: #41556466;
}

.dialog-button {
  width: 20%;
  min-width: fit-content;
  border-radius: 4px;
  border: 1px solid #c5ccd4;
}