.bonuses-row {
  display: flex;
  justify-content: space-between;
}

.dialog-button-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  .button {
    margin-left: 4px;
    border-radius: 16px;
    padding-top: 28px;
    padding-bottom: 28px;

    & img {
      transform: scale(1.3);
    }
  }
}
