.page-container {
  padding-top: 108px;
}

.section {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h1, h2 {
  color: #333;
}

.custom-button-history {
  background-color: #425565;
  color: #C5CCD3;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-button-history:hover {
  background-color: #344451;
  color: #C5CCD3;
}

.custom-button {
  background-color: #425565;
  color: #C5CCD3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #344451;
  color: #C5CCD3;
}
.d-flex {
  top: 10px;
  right: 10px;
  padding: 10px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  width: 300px;
  max-width: calc(100% - 340px); /* Максимальна ширина віджета сортування + відступ */
}
