.page-container {
  padding-top: 108px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-top: 8px;

  thead{
    width: 100%;
    margin-bottom: 8px;
  }

  th, td {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.bonus-buttons-container{
  padding: 4px;
  display: flex;
}

.table-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 50%;
  &:hover {
    background-color: #41556466;
  }
}


