body {
  font-family: Arial, sans-serif;
}

.section {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h1, h2 {
  color: #333;
}

.search {
  margin-top: 15px;
  & input {
    font-size: 16px;
    display: block;
    &.search-input {
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      border: none
    }
    &.search-button {
      padding: 13px 68px;
      height: 100%;
      letter-spacing: 1.25px;
      font-size: 14px;
      font-weight: 500;
      border: none;
      background: #f5f5f5;
      border-radius: 4px;
      outline: none;
    }
  }
}

.button {
  background: #425565;
  color: #C5CCD3;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
}

.custom-button-history {
  background-color: #425565;
  color: #C5CCD3;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-button-history:hover {
  background-color: #344451;
  color: #C5CCD3;
}

.custom-button {
  background-color: #425565;
  color: #C5CCD3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #344451;
  color: #C5CCD3;
}
.d-flex {
  top: 10px;
  right: 10px;
  padding: 10px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  width: 300px;
  max-width: calc(100% - 340px); /* Максимальна ширина віджета сортування + відступ */
}
