
<header class="header">
    <h2 class="title">Установить персональный бонус</h2>
</header>

<mat-dialog-content>
    <mat-card class="card-container">
        <mat-card-content>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Персональный бонус %</mat-label>
                <input matInput [formControl]="contributionControl" [defaultValue]=""/>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>Виберите Сервер</mat-label>
                <mat-select [formControl]="serverControl" required>
                    <mat-option *ngFor="let server of servers" [value]="server">{{server.serverName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="serverControl.hasError('required')">Server required</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="start">
    <button class="cancel-button" mat-flat-button mat-dialog-close>Отменить</button>
    <button class="ok-button" mat-flat-button (click)="setupBonus()" [disabled]="!isFormValid()"
            mat-dialog-close>
        Сохранить
    </button>
</mat-dialog-actions>
