<header class="dialog-header">
    <h2 class="dialog-header-title">Персональные бонусы {{ donatorEmail }}</h2>
</header>
<mat-dialog-content>
    <mat-card class="card-container">
        <div [formGroup]="bonusesGroup">
            <div formArrayName="bonuses">
                <mat-card-content class="server-bonuses-content"
                                  *ngFor="let serverBonusGroup of bonuses.controls; let i = index" [formGroupName]="i">
                    <mat-form-field class="input-field" appearance="outline">
                        <mat-label>{{serverBonusGroup.get('serverName')?.value}}</mat-label>
                        <input matInput type="number" formControlName="personalBonus" [defaultValue]=""/>
                        <mat-error
                                *ngIf="bonuses.controls[i].get('personalBonus')?.errors?.['min'] || bonuses.controls[i].get('personalBonus')?.errors?.['max']">
                            Percentage must be between 1 and 100
                        </mat-error>
                        <mat-error
                                *ngIf="bonuses.controls[i].get('personalBonus')?.errors?.['required']">
                            Обязательное поле
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions class="dialog-action-buttons" align="center">
    <button class="dialog-button" mat-flat-button mat-dialog-close>Отменить</button>
    <button class="dialog-button" mat-flat-button (click)="bonusesGroup.valid ? save() : {}">
        Сохранить
    </button>
</mat-dialog-actions>
