.image-content {
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

.close-button{
  position: absolute;
  z-index: 10;
  top: 10px;
  inset-inline-end: 20px;
  color: white;
  background: rgba(52, 68,81, 1);
  opacity: 65%;
}

.close-button:hover{
  opacity: 90%;
}

