:host {
  display: flex;
}

.login-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.login-field {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}

.dialog-button {
  width: 100%;
  min-width: fit-content;
  height: 56px;
  border-radius: 4px;
  color: white;
  background-color: #425565;
  border: 1px solid #0B202D;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
  margin-right: 16px;
  letter-spacing: 1.25px;
  &:hover {
    background-color: #41556466;
    color: #0B202D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14), 0 0 14px rgba(0, 0, 0, 0.12);
  }
}

.login-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: xx-large;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
}
