<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сервера</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid ps-0">
    <div class="row">
        <div class="col-auto vh-100">
            <div class="aside-block">
                <div class="nav-bar">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-auto">
                                    <img src="img/mat-avatar.svg" alt="">
                                </div>
                                <div class="col-auto my-auto">
                                    User name
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Dashboard</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Донаты</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Донатеры</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Пользователи</a>
                                </div>
                            </div>
                        </li>
                        <li class="selected">
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Сервера</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <a href="#">Настройки</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="main">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="name-page">
                            Сервера
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="buttons">
                            <div class="button" id="remove_server">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <img src="img/trash.svg" alt="">
                                    </div>
                                    <div class="col-auto my-auto ps-0">
                                        УДАЛИТЬ
                                    </div>
                                </div>
                            </div>
                            <div class="button" id="settings_server">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <img src="img/settings.svg" alt="">
                                    </div>
                                    <div class="col-auto my-auto ps-0">
                                        НАСТРОИТЬ
                                    </div>
                                </div>
                            </div>
                            <div class="button" id="add_server">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <img src="img/add.svg" alt="">
                                    </div>
                                    <div class="col-auto my-auto ps-0">
                                        ДОБАВИТЬ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="search" class="search-input" placeholder="Название сервера">
                        </div>
                        <div class="col-auto">
                            <input type="button" class="search-button" value="ПОИСК">
                        </div>
                    </div>
                </div>
                <div class="servers row">
                    <div class="server col-lg-6 col-xxl-4">
                        <div class="row">
                            <div class="col-auto">
                                <input type="checkbox" class="checkbox">
                            </div>
                            <div class="col">
                                <div class="box-server">
                                    <div class="title">
                                        Сервер 1
                                    </div>
                                    <div class="name-server">
                                        server_interlude1200
                                    </div>
                                    <div class="server-buttons">
                                        <a href="#" class="button">
                                            БОНУСЫ ИГРОКОВ
                                        </a>
                                        <a href="#" class="button">
                                            БОНУСЫ СЕРВЕРА
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="server col-lg-6 col-xxl-4">
                        <div class="row">
                            <div class="col-auto">
                                <input type="checkbox" class="checkbox">
                            </div>
                            <div class="col">
                                <div class="box-server">
                                    <div class="title">
                                        Сервер 2
                                    </div>
                                    <div class="name-server">
                                        server_interlude1200
                                    </div>
                                    <div class="server-buttons">
                                        <a href="#" class="button">
                                            БОНУСЫ ИГРОКОВ
                                        </a>
                                        <a href="#" class="button">
                                            БОНУСЫ СЕРВЕРА
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="server col-lg-6 col-xxl-4">
                        <div class="row">
                            <div class="col-auto">
                                <input type="checkbox" class="checkbox">
                            </div>
                            <div class="col">
                                <div class="box-server">
                                    <div class="title">
                                        Сервер 3
                                    </div>
                                    <div class="name-server">
                                        server_interlude1200
                                    </div>
                                    <div class="server-buttons">
                                        <a href="#" class="button">
                                            БОНУСЫ ИГРОКОВ
                                        </a>
                                        <a href="#" class="button">
                                            БОНУСЫ СЕРВЕРА
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="server col-lg-6 col-xxl-4">
                        <div class="row">
                            <div class="col-auto">
                                <input type="checkbox" class="checkbox">
                            </div>
                            <div class="col">
                                <div class="box-server">
                                    <div class="title">
                                        Сервер 4
                                    </div>
                                    <div class="name-server">
                                        server_interlude1200
                                    </div>
                                    <div class="server-buttons">
                                        <a href="#" class="button">
                                            БОНУСЫ ИГРОКОВ
                                        </a>
                                        <a href="#" class="button">
                                            БОНУСЫ СЕРВЕРА
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Всплывающее окно настроек сервера -->
<div class="popup" id="settings">
    <div class="container">
        <div class="crest">✕</div>
        <div class="title">
            Настройки
        </div>
        <div class="form">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="label">
                        Имя сервера
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Name" name="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="label">
                        URL
                    </div>
                    <div class="input">
                        <input type="text" placeholder="https://" name="url">
                    </div>
                </div>
                <div class="col-6">
                    <div class="label">
                        User name
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Name" name="username">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="label">
                        DB
                    </div>
                    <div class="input">
                        <input type="text" placeholder="database" name="database">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="label">
                        Пароль
                    </div>
                    <div class="input">
                        <input type="password" placeholder="*******" name="password">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="buttons justify-content-end">
                        <div class="button">
                            ТЕСТ
                        </div>
                        <div class="button">
                            СОХРАНИТЬ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- окно добавления нового сервера -->
<div class="popup" id="addserver">
    <div class="container">
        <div class="crest">✕</div>
        <div class="title">
            Добавить сервер
        </div>
        <div class="form">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="label">
                        Имя сервера
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Name" name="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="label">
                        URL
                    </div>
                    <div class="input">
                        <input type="text" placeholder="https://" name="url">
                    </div>
                </div>
                <div class="col-6">
                    <div class="label">
                        User name
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Name" name="username">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="label">
                        DB
                    </div>
                    <div class="input">
                        <input type="text" placeholder="database" name="database">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="label">
                        Пароль
                    </div>
                    <div class="input">
                        <input type="password" placeholder="*******" name="password">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="buttons justify-content-end">
                        <div class="button">
                            ТЕСТ
                        </div>
                        <div class="button">
                            СОХРАНИТЬ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>