<body>
<h1>Донаторы</h1>
<button class="back-button" (click)="goToServers()">НАЗАД</button>
<div class="search">
    <div class="row">
        <div class="col">
            <input type="text" name="search" class="search-input" placeholder="Почта донатора" matInput [(ngModel)]="donatorsMail">
        </div>
        <div class="col-auto">
            <input type="button" class="search-button" value="ПОИСК" (click)="applySearch()">
        </div>
    </div>
</div>
<div>
    <div class="section">
        <table>
            <thead>
            <tr>
                <th>Почта Донатора</th>
                <th>Персональный бонус</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donator of donatorBonus">
                <td> {{ donator.email  }} </td>
                <td> {{ donator.personalBonus + "%" }}</td>
                <td> <button class="custom-button-settings" (click)="openSetupBonusDialog(donator.id)">НАСТРОЙКИ</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)">
</mat-paginator>
</body>
