
<body>
<div>
    <h1>Пользователи</h1>
    <div class="section">

        <table>
            <thead>
            <tr>
                <th>Почта Пользователя</th>
                <th>Имя Пользователя</th>
                <th>Роль Пользователя</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let users of users">
                <td> {{ users.email }}</td>
                <td> {{ users.username }}</td>
                <td> {{ users.role }}</td>

            </tr>
            </tbody>
        </table>
    </div>
    <!-- Add more sections here -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</body>