<div class="page-header">
    <h1 class="page-header-title">Пользователи</h1>
    <div class="buttons">
        <div class="button" (click)="createUser()">
            <div class="row">
                <div class="col-auto pe-0">
                    <img src="assets/images/add.svg" alt="">
                </div>
                <div class="col-auto my-auto ps-0">
                    ДОБАВИТЬ
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-container">
    <div class="section">
        <table>
            <thead>
            <tr>
                <th>Почта Пользователя</th>
                <th>Имя Пользователя</th>
                <th>Роль Пользователя</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let user of users">
                <td> {{ user.email }}</td>
                <td> {{ user.username }}</td>
                <td> {{ user.role }}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
