<div class="page-container">
    <div class="page-header">
        <h1 class="page-header-title">Донаторы</h1>
        <div class="header-buttons">
            <div class="button" (click)="goToServers()">
                <div class="row">
                    <div class="col-auto pe-0">
                        <img src="assets/images/previous-button-icon.svg" alt="">
                    </div>
                    <div class="col-auto my-auto ps-0">
                        НАЗАД
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-navbar">
        <div class="search">
            <input type="text" name="search" class="search-input" placeholder="Почта донатора" matInput
                   [(ngModel)]="donatorsMail">
            <input type="button" class="search-button" value="ПОИСК" (click)="applySearch()">
        </div>

        <div class="table-header">
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="table-header-item">
                            <p>Почта Донатора</p>
                            <button class="sort-button" mat-mini-fab color="basic"
                                    (click)="sort('email')">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="table-header-item">
                            <p>Персональный бонус</p>
                            <button class="sort-button" mat-mini-fab color="basic"
                                    (click)="sort('personalBonus')">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                        </div>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="main-content">
        <table>
            <tbody>
            <tr *ngFor="let donator of donatorBonus">
                <td> {{ donator.email  }} </td>
                <td> {{ donator.personalBonus + "%" }}</td>
                <td>
                    <div class="buttons-container">
                        <button class="button table-button" (click)="openSetupBonusDialog(donator)">
                            <div class="col-auto pe-0">
                                <img src="assets/images/edit.svg" alt="">
                            </div>
                            <div class="col-auto my-auto ps-0">
                                CHANGE BONUS
                            </div>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paginator-container">
        <mat-paginator [length]="totalElements"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [showFirstLastButtons]="true"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>